@import "../../style_config/config";

.delivery-form {
    font-family: $Fredericka;
    font-weight: bolder;
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    margin-left: .5%;
    width: 99%;
    margin: 0 auto 40px auto;
    text-transform: uppercase;
    letter-spacing: .05em;
    position: relative;
    line-height: 1.1em;

    &_title {
        text-align: center;
        display: block;
        font-size: 26px;
        line-height: 1.1em;
        margin-bottom: 1em;
    }

    &_ordertime-button {
        margin-bottom: 2em;

        &_now-label {
            border-radius: 5px 0 0 5px;
            border-width: 1px 0 1px 1px;
            margin-right: -5px;
            line-height: 39px;
        }

        &_later-label {
            border-radius: 0 5px 5px 0;
            border-width: 1px 1px 1px 0;
            line-height: 39px;

            &_icon {
                font-size: 1.2em;
                margin-top: 5px;
                padding-top: 3px;
            }
        }

        label {
            display: inline-block;
            background-color: transparent;
            font-size: 16px;
            font-weight: 700;
            border-style: solid;
            border-color: $lightgrey;
            color: $lightgrey;
            cursor: pointer;
            padding: 0 13px 0 13px;
            height: 39px;
            margin-bottom: 0;
        }

        input[type="radio"] {
            display: none;
            margin: 4px 0 0;
            line-height: normal;
        }

        input[type="radio"]:focus {
            outline: thin dotted;
            outline-offset: -2px;
        }

        input[type=radio]:checked + label {
            background-color: $red;
            border-color: $red;
            color: $white;
        }
    }

    &_line1 {
        position: relative;
        width: 100%;

        &_unit {
            float: left;
            width: 50%;
            display: block;
            margin-bottom: 1em;
            position: relative;
        }

        &_street-num {
            float: left;
            width: 50%;
            display: block;
            margin-bottom: 1em;
            position: relative;
            padding-left: 2px;
        }
    }

    &_line2 {
        display: block;
        margin-bottom: 1em;
        position: relative;
        width: 100%;
    }

    &_line3 {
        position: relative;
        width: 100%;

        &_suburb {
            float: left;
            width: 66.66667%;
            display: block;
            margin-bottom: 1em;
            position: relative;
        }

        &_postcode {
            float: left;
            padding-left: 2px;
            width: 33.33333%;
            display: block;
            margin-bottom: 1em;
            position: relative;
        }
    }

    &_collapse {
        display: none;
        visibility: hidden;

        // height: auto;
        // transition: all 1s linear;

        &_tool-tip {
            text-transform: none;
            background: $white;
            color: black;
            padding: 10px;
            border-radius: 5px;
            margin-bottom: 10px;
            font-size: .75em;
        }
    }

    &_remember-me {
        display: block;
        margin-bottom: 1em;
        position: relative;
        float: left;
        width: 100%;

        input[type="checkbox"] {
            margin: 4px 0 0;
            line-height: normal;
        }

        .form-label {
            font-size: 1em;
            font-weight: bolder;
            margin-left: 5px;
        }

        &_more-information {
            text-decoration: none;
            color: $white;
            width: 1em;
            height: 1em;
            margin-left: 5px;

            &:hover {
                cursor: pointer;
            }

            &::after {
                content: none;
                left: 67%;
                width: 0;
                height: 0;
                top: -13px;
                position: absolute;
                border: 10px solid transparent;
                border-top: 10px solid $white;
                opacity: 1;
                transition: all .1s linear;
                visibility: visible;
            }
        }

        &_more-informationV2 {
            text-decoration: none;
            color: $white;
            width: 1em;
            height: 1em;
            margin-left: 5px;

            &:hover {
                cursor: pointer;
            }

            &::after {
                content: "";
                left: 67%;
                width: 0;
                height: 0;
                top: -13px;
                position: absolute;
                border: 10px solid transparent;
                border-top: 10px solid $white;
                opacity: 1;
                transition: all .1s linear;
                visibility: visible;
            }
        }
    }

    &_buttons {
        margin-bottom: 1em;
        margin-top: 1em;
        position: relative;
        width: 100%;

        &_back {
            font-size: 120%;
            color: $white;
            background-color: $greyV2;
            border-color: $greyV2;
            padding: 6px 9px 6px 15px;
            position: relative;
            border-radius: 3px;
            border: 1px solid transparent;
            white-space: normal;
            display: inline-block;
            margin-bottom: 0;
            text-align: center;
            vertical-align: middle;
            touch-action: manipulation;
            cursor: pointer;
            background-image: none;

            &:hover {
                color: $white;
                background-color: $greyV3;
                border-color: $greyV3;
            }

            &::after {
                content: " ";
                width: 0;
                height: 0;
                position: absolute;
                left: 0px;
                top: 50%;
                margin-top: -6px;
                border: 6px solid transparent;
                border-right: 6px solid $white;
                box-sizing: border-box;
                display: table;
            }
        }

        &_next {
            font-family: $Fredericka;
            font-weight: bolder;
            font-size: 120%;
            text-transform: uppercase;
            color: $white;
            background-color: $red;
            border-color: $red;
            position: relative;
            padding: 3.5px 16px 3.5px 10px;
            border-radius: 3px;
            white-space: normal;
            text-align: center;
            vertical-align: middle;
            touch-action: manipulation;
            cursor: pointer;
            background-image: none;
            border: 1px solid transparent;
            display: inline-block;
            margin-bottom: 0;
            -webkit-user-select: none;
            user-select: none;
            float: right;

            &::after {
                content: "";
                width: 0;
                height: 0;
                position: absolute;
                right: 0;
                top: 50%;
                margin-top: -6px;
                border: 6px solid transparent;
                border-left: 6px solid $white;
            }
        }
    }
}

.form-label {
    font-size: 18px;
    line-height: 1.1em;
    margin: 0;
    padding: 0;
    letter-spacing: .05em;
    display: inline;
}

.form-control {
    font-size: 16px;
    padding: 2px 0 0 4px;
    width: 100%;
    height: 30px;
    border-radius: 3px;
    line-height: 1.5;
    color: $black;
    background-color: $white;
    background-image: none;
    border: 1px solid $grey;

    &:focus {
        border-color: #66afe9;
        outline: 0;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    }
}

.log-in {
    color: $white;
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: none;
    padding-top: 5rem;
    margin-bottom: 5rem;
    text-transform: none;
}

.inline-error {
    background: $red;
    color: $white;
    padding: 5px 10px;
    font-size: .8em;
    border-radius: 0 0 3px 3px;
    position: relative;
    top: -2px;
    text-transform: none;
    display: none;
}
