@import '../../style_config/config';

.body{
    background-image:url('menuPageBackground.jpeg');
}

.form-header {
    margin-left: 15px;
    text-align: left;
    color: white;

    &_row-1 {
        font-size: 40px;
        line-height: 34px;
        letter-spacing: 2px;
        font-family: "Segoe UI Symbol";
    }
    &_row-2 {
        font-size: 12px;
        margin-top: 5px;
        font-family: "Segoe UI Symbol";

        &_thin {
            font-weight: 400;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
        }
        &_link {
            font-family: $Fredericka;
            cursor: pointer;
            letter-spacing: 1px;
            color: white;
        }
    }
}
.form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    margin: 5% auto;
}
.form-section {
    border-radius: 15px;
    border: solid 1px #979797;
    background-color: #fff;
    color: #000;
    padding: 12px 10px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    @include iphone(){
        width: 360px;
    }
}
.field-container {
    padding: 0 15px;
    margin-bottom: 7px;
    font-family: "Abril Fatface", cursive;
    text-align: left;

    &_thin{
        font-family: EvelethCleanThin;
        font-weight: 400;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
    }

    &_form-label {
        font-family: $Abril_Fatface;
        font-size: 20px;
        font-weight: 600;
        padding-left: 5px;
    }

    &_login-input {
        height: 1em;
        border-radius: 5px;
        border: 1px solid;
        transition: border 0.4s ease-out;
        padding: 13px;
        font-family: $Abril_Fatface;
        font-size: 20px;
        color: #000;
    }
    
    &_login-input:hover {
        border: 2px solid;
    }
    
    &_login-input:focus {
        border: 2px solid #6565e7;
        box-shadow: 0px 0px 20px rgba(15, 15, 15, 0.2);
    }
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    text-align: left;
}
.login-btn {
    font-family: $Abril_Fatface;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    background-color: #1fc36a;
    color: #fff;
    width: 100%;
    border-radius: 15px;
    font-size: 20px;
    height: 45px;
    padding-top: 3px;
}

.login-btn:hover,
.login-btn:focus {
    background-color: #e41837;
    color: black;
}

.form-divider
{   
    font-family: $Abril_Fatface;
    box-sizing: border-box;
    position: relative;
    margin-top: 130px;
    margin-left: 5px;
    margin-right: 5px;
    width: 40px;
    height: 40px;
    background: #efefef;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    line-height: 40px;
    text-align: center;
    @include iphone(){
        margin-top: 5px;
        margin-bottom: 5px;
    }
}


