@import "../../style_config/config";

.homepage-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../../asset/Images/background2.jpg") no-repeat {
    size: cover;
    attachment: fixed;
    position: center;
  }

  .homepage__slogan {
    text-align: center;
    line-height: 5rem;
    h2 {
      font: {
        size: 50px;
        family: $Fredericka;
      }
      color: white;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      &:after {
        content: "Get it while it's hot!";
        position: absolute;
        color: transparent;
        text-align: center;
<<<<<<< HEAD
        background: linear-gradient(to left, #03a9f4, #ffeb3b, #03a9f4);
||||||| 143024b
        background: -webkit-linear-gradient(left, #03a9f4, #ffeb3b, #03a9f4);
=======
        background: -webkit-linear-gradient(left, #03a9f4, #ffeb3b, #0bc0c8);
>>>>>>> d2c26e0d8dc36757821388036d1280c180492be4
        background-clip: text;
<<<<<<< HEAD
        clip-path: circle(80px at 0%);
||||||| 143024b
        clip-path: circle(80px at 0% 50%);
=======
        
        clip-path: circle(80px at 0% 50%);
>>>>>>> d2c26e0d8dc36757821388036d1280c180492be4
        animation: light 5s infinite;

        @keyframes light {
          0% {
            clip-path: circle(80px at 0%);
          }
          50% {
            clip-path: circle(80px at 100%);
          }
          100% {
            clip-path: circle(80px at 0%);
          }
        }
      }
    }
    p {
      font-family: $Abril_Fatface;
      font-size: 30px;
      color: $yellow;
    }

    button {
      padding: 1rem 2rem 1rem 2rem;
      cursor: pointer;
      font-family: $Fredericka;
      color: white;
      font-size: 20px;
      background: transparent;
      text-transform: uppercase;
      border: 1px solid $yellow;
      margin-top: 2rem;
      transition: all 0.5s;
      &:hover {
        transform: scale(1.2);
      }
      &:active {
        border: 1px solid $yellow;
      }
    }
  }
}
