@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

/*font family*/
$Fredericka: "Fredericka the Great", cursive;
$Abril_Fatface: "Abril Fatface", cursive;
$footer-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";

/*colors*/
$yellow: #e4ae26;
$black: #1a1a1a;
$white: #ffffff;
$grey: #49515d;
$lightgrey: #cccccc;
$red: #e41837;
$details-background: linear-gradient(
  to bottom,
  rgba(0, 0, 0, 0.65) 0,
  rgba(0, 0, 0, 0) 100%
);

/*media query*/
// Small tablets and large smartphones (landscape view)
$screen-small-max: 375px;

// Small tablets (portrait view)
$screen-medium-max: 768px;

@mixin ipad() {
  @media (max-width: #{$screen-medium-max}) {
    @content;
  }
}
@mixin iphone() {
  @media (max-width: #{$screen-small-max}) {
    @content;
  }
}

/*default type of main-nav*/
@mixin main-nav_type {
  position: sticky;
  background-color: $white;
  width: 100%;
  z-index: 100;
  top: 0; // convert sticky to fixed
}

@mixin menu-nav_type {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@mixin button_type {
  cursor: pointer;
  display: block;
  width: 100%;
  height: 30px;
  border: none;
  border-color: $red;
  border-radius: 3px;
  padding: 5px;
  color: $white;
  background-color: $red;
  text-transform: uppercase;
  font-family: $Abril_Fatface;
  font-size: 16px;
  position: relative;
}
