@import "../../style_config/config";

.store-in-state-header{
    width: 100%;
    height: 48px;
    margin-top: 0px;
    background-color: $grey;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px 0;
    position: fixed;
    z-index: 1;
    @include iphone() {
        width:100%;   
    }
}

.store-in-state_back{
    left: 18%;
    width: 100%;
    height: 3rem;
    font-size: 1.8rem;
    color: #fff;
    font-family: $Abril_Fatface;
    cursor: pointer;
    position: relative;
    display: flex;
    letter-spacing: .5px;
    padding-top: 0.15rem;
    &::before{
        content: "";
        position: absolute;
        top: 25%;
        margin-left: -10px;
        border: 6px solid transparent;
        border-left-color: #fff;
        left: -6px;
        transform: rotate(180deg);
      }
    
}

.store-in-state-detail{
    font-family: $Abril_Fatface;
    width: 66%;
    margin: 0rem auto;
    font-size: 2rem;
    padding-top: 7rem;   
}

.store-in-state-list{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2em;
    @include ipad() {
        width: 100%;
        margin-left: 4rem;
    }
    @include iphone() {
        width: 100%;
        margin-left: 8rem;
    }
}

.store-in-state-list .store-card{
    width: 45%;
    overflow: hidden;
    height: 7rem;
    left: unset;
    margin-bottom: 0.2rem;  
    box-shadow: 5px 5px 5px grey;
    z-index: 0;  
    position: relative;  
    @include ipad() {
       width: 55%;
    }
    @include iphone() {
        width: 100%;
        height: 7rem;
    }
}

p {
    font-family: $Abril_Fatface;
    font-size: 2rem;
}