@import "../../style_config/config";

.detail-header {
  width: 100%;
  height: 48px;
  margin-top: 70px;
  background-color: $grey;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px 0;
  position: fixed;
  @include iphone() {
    width:100%;
  }

  .detail-menu {
    left: -31%;
    text-decoration: none;
    font-size: 16px;
    font-family: $Abril_Fatface;
    cursor: pointer;
    color: $white;
    position: relative;
    display: flex;
    text-transform: uppercase;
    letter-spacing: .5px;
    z-index: 500;
    &::before{
      content: "";
      position: absolute;
      top: 25%;
      margin-left: -10px;
      border: 6px solid transparent;
      border-left-color: #fff;
      left: -6px;
      transform: rotate(180deg);
    }
    @include ipad() {
      margin-left: 10%;
    }
    @include iphone() {
      margin-left: 10%;
    }
  }
}

.detail-picture {
  background: url("../../asset/Images/menuPageBackground.jpeg");
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  .detail-picture-pizza {
    height: 450px;
    margin-top: 15rem;
    @include iphone() {
      width: 100%;
      height: 50%;
    }
  }
}

.detail-info {
  margin: 1.5rem 0 3rem 0;
  color: $white;
  font-family: $Abril_Fatface;
  font-size: 1.5rem;
  background: url("../../asset/Images/menuPageBackground.jpeg");
  background-color: none !important;

  &-box {
    width: 1024px;
    margin: 0px auto;
    width: 45%;

    .detail-title {
      font-size: 20px;
      padding: 10px 0px;
      line-height: 42px;
      border-bottom: dotted 1px $white;
      .detail-kjs {
        float: right;
        @include iphone() {
          font-size: 1rem;
        }
      } 
    }
      @include ipad() {
        width: 40rem;
        display: block;
    }
      @include iphone() {
        width: 30rem;
  }

    .detail-description {
      padding: 5px;
    }

    .detail-button {
      @include button_type;
      margin: 30px auto;
      height: 4rem;
      width: 50%;
      transition: all 0.5s;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  a {
    display: block;
    color: $white;
    line-height: 18px;
    padding: 10px 0px;
  }
}


