@import "../../style_config/config";

.detail-page {
  display: flex;
  flex-direction: column;
  background:url('../../asset/Images/menuPageBackground.jpeg');
  &__nav {
    @include main-nav_type;
    
  }
  &__content {
    margin-top: -70px;
  }
}
