@import "../../style_config/config";

.productContainer {
  font-family: $Abril_Fatface;
  display: block;
  position: relative;
  width: 200px;
  padding: 2px;
  font-size: 16px;
  height: 300px;
  margin-top: 2rem;
  margin-right: 2rem;
  @include iphone(){
    width: 48%;
    font-size: 2rem;
    margin-left: 1%;
    margin-right: 0;
    margin-top: 0;
    height: 300px;
      
  }

  .productSelect {
    text-align: center;
    color: $white;
    display: block;
    width: 100%;
    padding-bottom: 90px;
    position: relative;
    border-radius: 3px 3px 0 0;

    @include iphone(){
      padding-bottom: 120px;
    }

    &:hover {
      background: 0 0;
      z-index: 10;

      .product_imageContainer {
        margin: 0 -5%;
        width: 110%;
        transition: all 0.4s ease;
        z-index: 3 !important;
      }

      .description {
        max-height: 10em;
      }

      .product_details::after {
        opacity: 0.5;
      }
    }
  }
}

.product_imageContainer {
  width: 100%;
  pointer-events: none;
  margin: 0;
  position: relative;
  padding: 4% 2% 2%;
  padding-bottom: 66%;
  z-index: 2;

  .image {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10;
  }
}

.product_details {
  position: absolute;
  bottom: 0;
  z-index: 10;
  padding-top: 0.4em;
  width: 100%;
  padding: 5px;
  text-align: left;
  font-size: 0.8em;


  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: $details-background;
    opacity: 0;
    transition: opacity 0.4s ease;
    z-index: -1;
    border-radius: 5px;
  }

  .product_details_nameContainer {
    height: 3em;
    display: flex;
    align-items: center;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    @include iphone(){
      height: 3em;
      font-size: 1rem;
      margin-top: 1rem;
    }
  }
}

.description {
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease;
  font-size: 0.9rem;
  line-height: 1.1;
  margin-bottom: 0.4rem;
  display: block;
  color: $lightgrey;
  border-radius: 3px;
  min-width: 100%;
  @include iphone(){
    max-height: 6rem;
    margin-top: 0.4rem;
  }
}

.product_details_priceCaloriesContainer {
  height: 2rem;
  @include iphone(){
    height: 1em;
  }
  .price {
    line-height: 1.5;
    font-size:bolder;

    @include iphone(){
      //height: 1em;
      line-height: 1rem;
      font-size: 1rem;
    }
  }

  .calories {
    color: $lightgrey;
    float: right;
    line-height: 1.5;
    @include iphone(){
      //height: 1em;
      line-height: 1rem;
      font-size:1rem;
      float: none;
      margin-left: 3rem;
    }
  }
}

.product_button {
  position: absolute;
  top: 100%;
  padding: 5px;
  width: 100%;

  .btn_select {
    @include button_type;
  }
}

