@import "../../style_config/config";

.diy-pizza-page__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  width: 100%;

  .diy-pizza-page__title {
    display: flex;
    justify-content: space-between;
    width: 70%;
    border-bottom: 1px dotted $white;
    padding-bottom: 1rem;
    margin-bottom: 3rem;

    @include iphone() {
      width: 90%;
      h3 {
        font-size: 1.5rem;
      }
    }
  }
  .image {
    height: 30%;
    width: 30%;
    @include iphone() {
      width: 70%;
    }
  }
  h3 {
    display: flex;
    justify-content: flex-start;
    margin: 2rem 0 1rem 0;
    font-size: 3rem;
    width: 70%;
    @include iphone() {
      width: 90%;
      font-size: 1.5rem;
    }
  }
  .topping-container {
    width: 70%;
    background: rgba(0, 0, 0, 0.8);
    margin-bottom: 3rem;
    font-size: 1.5rem;

    @include iphone() {
      width: 90%;
      font-size: 1rem;
    }
    h4 {
      padding: 1.5rem;
      @include iphone() {
        font-size: 1.1rem;
      }
    }
    .current-toppings {
      display: flex;
      flex-wrap: wrap;
      &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1.5rem;
        @include iphone() {
          margin: 0.8rem;
        }
        .remove {
          height: 2rem;
          width: 2rem;
          position: relative;
          left: 47%;
          top: 12%;
          cursor: pointer;
          @include iphone() {
            height: 1.5rem;
            width: 1.5rem;
            left: 40%;
            top: 10%;
          }
        }
        img {
          height: 4rem;
          width: 7rem;
          @include iphone() {
            height: 4rem;
            width: 5.5rem;
          }
        }
      }
    }

    .topping-builder {
      h4 {
        padding: 1.5rem;
      }
      &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        div {
          display: flex;
          align-items: center;
          border-bottom: 2px solid #383838;
          height: 10vh;
          box-shadow: 0px 0 10px #383838, 0 0px 5px #383838;
        }

        h3 {
          font-size: 1.5rem;
          color: $yellow;
          text-align: left;
          margin-left: 2rem;
          @include iphone() {
            font-size: 1.1rem;
          }
        }

        .circle {
          margin-left: auto;
          margin-right: 1rem;
          position: relative;
          border: none;
          box-shadow: none;
          cursor: pointer;
          border-radius: 50%;
          height: 2rem;

          img {
            height: 4.5rem;
            @include iphone() {
              height: 2.5rem;
            }
          }
          svg {
            color: white;
            font-size: 2rem;
            position: absolute;
            right: 30%;
            @include iphone() {
              right: 22%;
              font-size: 1.5rem;
            }
          }
        }

        .topping-selection {
          height: 0;
          opacity: 0;
          transition: all 0.5s;
        }

        .topping-expand {
          box-shadow: none;
          border: none;
          margin-left: 1rem;
          width: 100%;
          height: 0;
          overflow: hidden;

          div {
            box-shadow: none;
            border: none;
          }
          h2 {
            color: $white;
            font-size: 1.5rem;
          }
        }
      }
      .active {
        .topping-selection {
          height: 35vh;
          opacity: 1;
          transition: all 0.5s;

          @include ipad() {
            height: 60vh;
          }
        }
        .topping-expand {
          display: flex;
          flex-wrap: wrap;
          height: 35vh;
          font-size: 1.2rem;
          transition: all 0.5s;
          @include ipad() {
            height: 45vh;
          }
          @include iphone() {
            font-size: 1rem;
          }

          .imgBox {
            display: flex;
            flex-direction: column;
            @include iphone() {
              margin: 0.4rem;
            }
            img {
              margin: 1.3rem;
              cursor: pointer;
              &:hover {
                transform: scale(1.2);
                transition: all 0.5s;
              }
              @include iphone() {
                margin: 0;
              }
            }
          }
        }
      }
    }
  }
  .add-to-order {
    @include button_type;
    margin: 4rem auto;
    height: 4rem;
    width: 20rem;
    text-transform: uppercase;
    transition: all 0.5s;
    background-color: $red;
    &:hover {
      transform: scale(1.1);
      background-color: $red;
      box-shadow: 0 0 10px $red;
    }
  }
}
