$menuContentBGC: #3e2723;
$titleFont: normal normal 20px/20px Oswald, sans-serif;
$textColor: white;
$textSize: 28px;
$ipadPro-ipad-breakPoint: 1225px;
$phones-breakPoint: 480px;

.menu-content {
  background-color: $menuContentBGC;
  display: block;
  // margin-left: 15%;
  width: 100%;
  &__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  &__title {
    font: $titleFont;
    color: $textColor;
    font-size: $textSize;
    padding-top: 30px;
  }
  &__titleBold {
    font-weight: bold;
  }
  &__line {
    border: 1px solid $textColor;
    margin-bottom: 30px;
  }
}

.assist-anchor {
  width: 1px;
  height: 1px;
  position: relative;
  top: -140px; // 这里可以设任意高度 对应锚点最后离窗口顶端的距离
}

@media (max-width: $ipadPro-ipad-breakPoint) {
  .menu-content {
    margin-left: 5%;
    width: 90%;
  }
}
@media (max-width: $phones-breakPoint) {
  .menu-content {
    justify-content: space-around;
  }
  .title {
    text-align: center;
  }
}
