@import "../../style_config/config";

.cardContainer {
  display: flex;
  justify-content: center;
  .card {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;

    &__type {
      margin-bottom: 1rem;
      text-align: center;
      background-color: $red;
      height: 4rem;
      line-height: 4rem;
    }

    &__header {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      & ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        background-color: $blue;
        height: 2.5rem;

        li:nth-child(1) {
          width: 8rem;
          text-align: center;
        }
        li:nth-child(3) {
          width: 8rem;
          text-align: center;
        }
        li:nth-child(4) {
          width: 8rem;
          text-align: center;
        }
        li:nth-child(2) {
          width: 15rem;
          text-align: center;
        }
        li:nth-child(5) {
          width: 15rem;
          text-align: center;
        }
      }
    }

    &__items {
      display: flex;
      flex-direction: column;
      transition: all 0.5s ease;
    }
  }
}
