@import '../../style_config/config';

.card-container{
    width:300px;
    padding: 10px 10px 0 10px;
    font-family: $Fredericka;
    margin-bottom: 4rem;;
    position: relative;
    margin-left: 2rem;

    &__top{
        background: url('../../asset/Images/saved-order/basket-top-white.png') repeat-x top center;
        height:10px;
        width:100%;
        background-color: transparent!important;
    }

    &__body{
        background-color: white;

        & div{
            padding-bottom: 1rem;
            padding-top: 1rem;

            & h3{
                padding-bottom: 0.6rem;
                margin-left: 10%;
                text-transform: uppercase;
            }


            &::after{
                content: "";
                display: block;
                width: 90%;
                border:0.2px dashed $grey;
                margin-left: 5%;
            }
        }

        & p{
            font-family: $Abril_Fatface;
            font-size: 1.2rem;
            padding-top:0.6rem;
            padding-bottom: 0.6rem;
            margin-left: 10%;
        
        }

            & button{
            color:$white;
            background-color: #e41837;
            padding: 0.5rem 1rem;            
            border-radius: 3px;
            text-align: center;
            border: 1px solid transparent;
            width:80%;
            text-transform: uppercase;
            font-weight: 500;
            font-family: $Abril_Fatface;
            margin-left: 10%;
            margin-top: 1rem;
            margin-bottom: 1rem;
            font-size: 1.3rem;

            &::after{
                content: '';
                position: absolute;
                border: 6px solid transparent;
                border-left: 6px solid #ffffff;
                box-sizing: border-box;          
                right:0;  
                margin-right:3rem;
                margin-top:5px;
            }

        

        }

        &__text{
            
            font-size: 1.1rem !important;
            font-weight: normal !important;
        }

       

    }

    &__bottom{
        background: url('../../asset/Images/saved-order/card-bottom.png') repeat-x bottom center;
        height: 10px;
        width: 100%;
        background-color: transparent!important;


    }
}
