@import "../../style_config/config";

.footer {
  font-size: 16px;
  background: rgba(0, 0, 0, 0.8);
  color: $white;
  
  &__links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px;
    max-width: 1024px;
    margin: 0 auto;
    font-family: $footer-font-family;
    color: $white;
   
    &-column {
      width: 200px;
      display: block;
      list-style: none;
      margin-top: 20px;
      &-title {
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 5px;
     
      }
      &-item {
        font-weight: 400;
        margin-top: 5px;
      }
    }
  }
  &__social {
    text-align: center;
    line-height: 28px;
    &-item {
      margin-right: 20px;
    }
  }
  &__privacy {
    font-family: $footer-font-family;
    line-height: 28px;
    text-align: center;
    font-weight: 500;
    padding: 30px;
    &-item {
      font-size: 14px;
      
    }
  }
  & a{
    color: $white;
  }
}
