$footer-fontColor: white;
// $footer-fontColor: white;
$footer-backgroundColor: transparent;
$footer-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

.footer {
  color: $footer-fontColor;
  display: block;
  font-size: 100%;
  background-color: $footer-backgroundColor;
  &__links {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 30px;
    max-width: 1024px;
    margin: 0 auto;
    font-family: $footer-font-family;
    &-column {
      width: 200px;
      display: block;
      list-style-type: disc;
      list-style: none;
      margin-top: 20px;
      &-title {
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 0;
        font-weight: 900;
        margin-bottom: 5px;
      }
      &-item {
        font-size: 15px;
        letter-spacing: 0;
        text-transform: initial;
        font-weight: 500;
        margin-top: 5px;
      }
    }
  }
  &__social {
    text-align: center;
    margin-top: 10px;
    line-height: 28px;
    font-size: 16px;
    &-item {
      margin-right: 20px;
    }
  }
  &__privacy {
    line-height: 28px;
    color: $footer-fontColor;
    text-align: center;
    font-weight: 900;
    font-size: 16px;
    letter-spacing: 0;
    padding: 30px;
    font-family: $footer-font-family;
    &-item {
      color: $footer-fontColor;
      font-size: 14px;
      letter-spacing: 0;
      text-transform: initial;
      font-weight: bold;
    }
  }

  .link {
    text-decoration: none;
    color: $footer-fontColor;
  }
}

@media (max-width: 860px) {
  .footer__links {
    justify-content: flex-start;
  }
}
