@import "../../style_config/config";

.footer {
  background: rgba(0, 0, 0, 0.8);
  color: $white;
  width: 100%;
  margin-top: 300px;
  &__links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px;
    max-width: 1024px;
    margin: 0 auto;
    font-family: $footer-font-family;
    color: $white;

   
    &-column {
      width: 200px;
      display: block;
      list-style: none;
      margin-top: 20px;
      margin-bottom: 20px;

      @include iphone(){
        width: 130px;
      }
      &-title {
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 5px;
        @include ipad(){
          font-size: 1.3rem;
        }
        @include iphone(){
          font-size: 1.0rem;
        }
        
      }
      &-item {
        font-size: 1.3rem;
        font-weight: 400;
        margin-top: 5px;
        @include ipad(){
          font-size: 1.0rem;
        }
        @include iphone(){
          font-size: 0.8rem;
        }
        

      }
    }
  }
  &__social {
    text-align: center;
    line-height: 28px;
    
    &-item {
      margin-right: 20px;
    }
  }
  &__privacy {
    font-family: $footer-font-family;
    line-height: 28px;
    text-align: center;
    font-weight: 500;
    padding: 30px;
    &-item {
      font-size: 1rem;
      @include ipad(){
        font-size: 0.9rem;
      }
      @include iphone(){
        font-size: 0.7rem;
      }

      
    }
  }
  & a{
    color: $white;
  }
}
