@import "../../style_config/config";

.menu-page {
  display: flex;
  flex-direction: column;
  background: url(../../asset/Images/menuPageBackground.jpeg);
  background-size: auto;

  &__nav {
    @include main-nav_type;
  }
}

