@import "../../style_config/config";

.thanks-page {
  font-family: $Fredericka;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 0;
  background: url("../../asset/Images/order-type-page/background-image.jpeg") repeat;

  .banner {
    width: 80%;
    display: flex;
    flex-grow: 1;
    text-align: left;
    align-items: center;

    margin-bottom: 10px;
    vertical-align: middle;
    padding-top: 5px;
    z-index: 12;

    &_logo-image {
      background: url("../../asset/Images/order-type-page/domino-logo.svg") no-repeat;
      width: 110px;
      margin-right: 10px;
      height: 110px;
      background-size: cover;
      @include iphone() {
        width: 50px;
        height: 50px;
      }
    }

    &_description {
      display: block;
      color: $white;
      z-index: 13;
      flex-grow: 1;
      font-size: 2.7rem;
      text-transform: uppercase;
      @include iphone() {
        font-size: 2rem;
      }

      &:after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        transform: scaleY(1);
        float: left;
        border: dotted $white 0.2px;
      }
    }
  }

  &__content {
    width: 100%;
    height: 60vh;

    p {
      font-family: $Fredericka;
      color: white;
      font-size: 4rem;
      margin-top: 8rem;
      text-align: center;
    }
  }
}
