@import "../../style_config/config";

.checkout-page {
  background: url(../../asset/Images/menuPageBackground.jpeg);
  min-height: 90vh;
  &__container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    font-family: $Fredericka;
    font-size: 1.5rem;
    color: $white;
    @include iphone() {
      font-size: 1rem;
    }
  }

  .banner {
    width: 100%;
    display: flex;
    flex-grow: 1;
    text-align: left;
    align-items: center;

    margin-bottom: 10px;
    vertical-align: middle;
    padding-top: 5px;
    z-index: 12;

    &__logo-image {
      background: url("../../asset/Images/order-type-page/domino-logo.svg") no-repeat;
      width: 110px;
      margin-right: 10px;
      height: 110px;
      background-size: cover;
      @include iphone() {
        width: 50px;
        height: 50px;
      }
    }

    &__description {
      display: block;
      color: white;
      z-index: 13;
      flex-grow: 1;
      font-size: 2.7rem;
      text-transform: uppercase;
      @include iphone() {
        font-size: 2rem;
      }

      &:after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        transform: scaleY(1);
        float: left;
        border: dotted $white 0.2px;
      }
    }
  }

  &__header {
    width: 100%;
    padding: 1.5rem 0 1rem 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border-bottom: 1px solid darkgrey;

    &-item {
      text-transform: capitalize;
      width: 22%;
      text-align: center;

      &:last-child {
        width: 12%;
      }
    }
  }

  &__items {
    max-height: 52vh;
    overflow-y: scroll;
    min-width: 100%;
  }

  &__total-info {
    margin-top: 2rem;
    margin-right: auto;
  }

  &__pay-btn {
    margin: 2rem 1rem;
    font-weight: bolder;
    text-transform: uppercase;
    color: $white;
    background-color: $red;
    border-color: $red;
    padding: 0.5rem 1.2rem 0.5rem 0.9rem;
    border-radius: 3px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    &:hover {
      color: $white;
      background-color: $redV2;
      border-color: $redV2;
    }
  }
}
