@import '../../style_config/config';




.order-type{
    flex-grow: 2;
    width:70%;
    display: flex;
    justify-content: center;;
    align-items: center;
    flex-direction: column;
    @include ipad(){
        width:100%;
    }
    @include iphone(){
        width:100%;
    }


    &_title{
        text-transform: uppercase;
        color: white;
        margin-top: 5rem;
        padding-bottom:40px;
        font-size: 2.7rem;
        @include iphone(){
            font-size: 2.5rem;
        }
    }

    

    &_container{
        width: 100%;
        display:flex;
        justify-content: space-evenly;
        align-items: center;
        @include iphone(){
            flex-direction: column;
        }

        

        .order-method{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;;
            width:245px;
            text-decoration: none;
            padding-bottom: 4rem;
            box-shadow: 2px 2px 2px rgb(7, 7, 7),0.6;
            @include iphone(){
                width: 80%;
                flex-direction: row;
                justify-content: space-around;
                padding-bottom: 0;
                margin-bottom: 2rem;
            }


            &:visited{
                text-decoration: none;
                color:white;
            }
                

            .type-icon{
                background: url("../../asset/Images/order-type-page/delivery.png") no-repeat;
                background-size:cover;
                width:60px;
                height:60px;
                margin-top: 50px;
                margin-bottom: 35px;
                @include iphone(){
                    margin:1.5rem 0;
                }


            }

            .type-text{
                color: white;
                font-size: 1.2rem;
                text-align: center;

                &_title{
                    padding-top: 1.5rem;
                    text-transform: uppercase;
                    font-size: 2.3rem;
                    padding-bottom: 1.5rem;
                    @include ipad(){
                        font-size: 2rem;
                    }
                    @include iphone(){
                        padding: 0;
                    }
                }

                &_description{
                    font-size: 1.5rem;
                    padding-bottom: 3rem;
                    @include iphone(){
                        padding:0;
                    }

                }

                &::before{
                    content: "";
                    display: block;
                    border:dotted white 0.2px;
                    width:100%;
                    height: 1px;
                    transform:scaleY(1);
                    float:left;

                }
            }

            

            
        }
    }

    .log-in{
        color:white;
        font-weight: bold;
        font-size: 1.5rem;
        text-decoration: none;
        padding-top:5rem;
        margin-bottom: 5rem;
    }


} 


.type-save{
    background-color: #0db14b;
    // border-color:#0b9441;
    transition: all 50ms ease;


    &:hover{
        background-color:#0b9441 ;
    }

}

.type-delivery{
    background-color: #006991;
    border-color:#005778;
    transition: all 50ms ease;


    &:hover{
        background-color:#005778 ;
    }

}

.type-pickup{
    background-color: #e41837;
    // border-color:#e41001;
    transition: all 50ms ease;


    &:hover{
        background-color:#e41001 ;
    }

}